
.content{
    margin: 0 auto;
    width: 1200px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.log{
    float: left;
}
nav ul li{
    float: right;
}
nav ul li a{
    padding: 20px;
    display: block;
    color:gold;
    text-decoration: none;
}
nav ul li a:hover{
    border-bottom: 4px solid gold;
    opacity: 0.9;
}
header{
    background-color: black;
    overflow: auto;
}
footer{
    background-color: black;
}
div{
    background-color: white;
}
div .cc{
    left: 10px;
    right: 50px;
    background-color: white;
    padding-left: 10px;
    width: 69%;
    padding-top: 100px;
    height: 470px;
    font-family:sans-serif;
    font-size: 15px;
    float: right;
}
h1{
    font-family: sans-serif;
}
p2{
    font-family: monospace;
    font-size: 12px;
    color:white;
}
