.content{
    margin: 0 auto;
    width: 1200px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.log{
    float: left;
}
nav ul li{
    float: right;
}
nav ul li a{
    padding: 20px;
    display: block;
    color:gold;
    text-decoration: none;
}
nav ul li a:hover{
    border-bottom: 4px solid gold;
    opacity: 0.9;
}
header{
    background-color: black;
    overflow: auto;
}
